In [3]:
# List Exercise
# Q1: Create a list of 5 random numbers and print the list
numbers = [3, 8, 12, 5, 9]
print("Original list:", numbers)

Original list: [3, 8, 12, 5, 9]

In [6]:
# Q2: Insert 3 new values to the list and print the updated list
numbers.extend([15, 20, 25])
print("Updated list:", numbers)

Updated list: [3, 8, 12, 5, 9, 15, 20, 25]

In [8]:
# Q3: Use a for loop to print each element in the list
print("Elements in the list:")
for num in numbers:
    print(num)

Elements in the list:
3
8
12
5
9
15
20
25

In [10]:
# Dictionary Exercise
# Q1: Create a dictionary with keys 'name', 'age', and 'address'
person = {"name": "John", "age": 25, "address": "New York"}
print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [12]:
# Q2: Add a new key-value pair to the dictionary
person["phone"] = "1234567890"
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

In [14]:
# Set Exercise
# Q1: Create a set with values 1, 2, 3, 4, and 5
num_set = {1, 2, 3, 4, 5}
print("Original set:", num_set)

Original set: {1, 2, 3, 4, 5}

In [16]:
# Q2: Add the value 6 to the set
num_set.add(6)
print("Updated set:", num_set)

Updated set: {1, 2, 3, 4, 5, 6}

In [18]:
# Q3: Remove the value 3 from the set
num_set.discard(3)
print("Set after removing 3:", num_set)

Set after removing 3: {1, 2, 4, 5, 6}

In [20]:
# Tuple Exercise
# Q1: Create a tuple with values 1, 2, 3, and 4
tuple_values = (1, 2, 3, 4)
print("Tuple:", tuple_values)

Tuple: (1, 2, 3, 4)