In [ ]:
name = "Richu Mariyam Alex" 
student_number = "ST1001"  
email = "richu@example.com"  

print(name)
print(student_number)
print(email)

In [9]:
name = "Richu Mariyam Alex"  
student_number = "ST1001"  
email = "richu@example.com"  

print(name + "\n" + student_number + "\n" + email)

Richu Mariyam Alex
ST1001
richu@example.com

In [11]:

a = 14
b = 7

print(f"{a} + {b} = {a + b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} / {b} = {a / b}")

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

In [13]:
# Display numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [15]:
# Print the required sentence with quotation marks and line break
print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [19]:
# Practice printing with escape sequences
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [21]:
# Define variables and print their types
num = 23
textnum = "57"
decimal = 98.3

print("Type of num:", type(num))
print("Type of textnum:", type(textnum))
print("Type of decimal:", type(decimal))

# Convert textnum to integer and calculate sum
total_sum = num + int(textnum) + decimal
print("Sum of variables:", total_sum)
print("Type of sum:", type(total_sum))

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>
Sum of variables: 178.3
Type of sum: <class 'float'>

In [23]:
# Calculate the number of minutes in a year
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

total_minutes = days_in_year * hours_in_day * minutes_in_hour

print("The total number of minutes in a year is:", total_minutes)

The total number of minutes in a year is: 525600

In [25]:
# Ask user for their name and print a greeting
user_name = input("Please enter your name: ")
print(f"Hi {user_name}, welcome to Python programming :)")

Please enter your name:  Richu

Hi Richu, welcome to Python programming :)

In [27]:
# Convert Pounds to Dollars
pounds = float(input("Please enter amount in pounds: "))
dollar_conversion_rate = 1.36  # Example conversion rate, adjust as needed
dollars = pounds * dollar_conversion_rate
print(f"£{pounds} are ${dollars:.2f}")

Please enter amount in pounds:  30

£30.0 are $40.80